body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    flex-direction: column;
    background-color: #fbab7e;
    background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.calc {
    padding: 20px;
    border-radius: 1em;
    height: 500px;
    width: 400px;
    margin: auto;
    background-color: #f84626;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.637);
    border: solid 2px #d32626
}

.display-box {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(218, 224, 226);
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 95%;
    height: 55%;
    outline: none;
    font-size: 22px;
}

#clear {
    background-color: #f17975;
}

#clear:hover {
    background-color: #eec4c3;
}

#equal {
    background-color: #068b49;
}

#equal:hover {
    background-color: #60a182;
}

.button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(199, 89, 15);
    color: #fff;
    border: solid 1px black;
    width: 80px;
    border-radius: 10px;
    height: 70%;
    outline: none;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
}

.button:hover {
    background-color: rgb(190, 135, 98);
    color: black;
    transform: translateY(5px);
}

.op {
    background-color: #105a85;
}

.op:hover {
    background-color: #497188;
}

